<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EPTI Insurance - Bảo Hiểm Bưu Điện</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}" rel="shortcut icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <script src="{{url_for('static', filename='js/jquery-1.10.1.min.js')}}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <div>

        <nav class="navbar navbar-fixed-top navbar-default nav-custom ">
            <div class="container ">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                        <img src="{{url_for('static', filename='images/logo.png')}}"  alt="#">
                    </a>
                    <ul class="nav navbar-nav navbar-right" id="nav-moblie-default">
                        <li id="li_home" ><a href="javascript:void(0)"  >GIỚI THIỆU</a></li>
                    </ul>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav_click active" id="gioi_thieu" >
                            <a href="javascript:void(0)" >GIỚI THIỆU</a>
                        </li>
                        <li class="nav_click" id="loi_ich" >
                            <a href="javascript:void(0)"  >LỢI ÍCH VỢT TRỘI</a>
                        </li>
                        <li class="nav_click" id="quyen_loi" >
                            <a href="javascript:void(0)" >QUYỀN LỢI</a>
                        </li>
                        <li class="nav_click" id="bao_hiem">
                            <a href="javascript:void(0)"   >PHÍ BÀO HIỂM</a>
                        </li>
                        <li class="nav_click" id="thong_tin">
                            <a href="javascript:void(0)"   >THÔNG TIN CẦN BIẾT</a>
                        </li>
                        <li class="nav_click" id="cau_hoi_thuong_gap">
                            <a href="javascript:void(0)"   >CÂU HỎI THƯỜNG GẶP</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="banner">
            <div class="container">
                <div class="" id="target_gioi_thieu">
                    <div  class=" bao-hiem col-md-5">
                        <!--<h2 class="h-Bold">BẢO HIỂM TOÀN DIỆN OTO</h2>-->
                        <!--<p class="desc">Công ty đầu tiên cho ra mắt sản phẩm bệnh hiểm nghèo với 14 bệnh nan y (bao gồm cả Ung Thư Suy Thận; Liệt Các Chi; Đột Quỵ và Ngồi Máu Cơ Tim</p>-->

                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="reg-now col-md-4">
                         <form class='reg-now-visible' id='formIndex' action="/" method="post" accept-charset="utf-8" role="form">
                            {{ form.hidden_tag() }}
                             {% for field in form if field.widget.input_type != 'hidden' %}
                                {% if field.errors %}
                                    <div class="loading alert" style="color: red;"><a class="close" data-dismiss="alert">×</a>
                                    {%for error in field.errors%}
                                            {{error}}</br>
                                        {%endfor%}
                                    </div>
                              {%endif%}
                            {%endfor%}
                            <div class="clr"></div>
                             <div class='control-group'>
                                <input type="text" name="name" {%if form.data.name%} value="{{form.data.name|safe}}" {%endif%} placeholder='Họ và tên' required oninvalid="setCustomValidity('Họ và tên là bắt buộc')" oninput="setCustomValidity('')"/>
                            </div>
                            <div class='control-group'>
                                <input type="text" id="phone" name="phone" {%if form.data.phone %} value="{{form.data.phone|safe}}" {%else%} value="" {%endif%} placeholder='Số điện thoại' required pattern="^[0-9]{10,12}$" oninvalid="setCustomValidity('Số điện thoại không chính xác')" oninput="setCustomValidity('')"/>
                            </div>

                            <div class="relative">
                                 <input type="text" name="car_type" {%if form.data.car_type%} value="{{form.data.car_type|safe}}" {%else%} value="" {%endif%} placeholder='Loại Xe' required oninvalid="setCustomValidity('Loại Xe là bắt buộc')" oninput="setCustomValidity('')"/>
                            </div>
                            <div class="relative">
                                 <input type="text" name="year_make" {%if form.data.year_make%} value="{{form.data.year_make|safe}}" {%else%} value="" {%endif%} placeholder='Năm sản xuất'/>

                            </div>

                            <div class='control-group'>
                                <input type="text" name="code_promotion" {%if form.data.code_promotion%} value="{{form.data.code_promotion|safe}}" {%else%} value="" {%endif%} placeholder='Mã xác thực'/>
                            </div>
                            <p>
                                  {%if form.toidongy.data%}
                                <input type="checkbox" id="toidongy" name="toidongy" required oninvalid="setCustomValidity('Bạn phải đồng ý với điều khoản này')" onchange="setCustomValidity('')" checked/>
                                {%else%}
                                <input type="checkbox" id="toidongy1" name="toidongy" required oninvalid="setCustomValidity('Bạn phải đồng ý với điều khoản này')" onchange="setCustomValidity('')"/>
                                {%endif%}
                                Bằng cách nhấp vào "Đăng Ký Ngay" Quý khách đồng ý với điều khoản của ngân hàng EPTI.</p>
                            <button type="submit" value="Register Now" class='btn submit sub-form' name="submit">Đăng ký ngay</button>
                        </form>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
        <!--<img class="img-banner" src="images/slider.png"  alt="#">-->

        <div class="container" id="target_loi_ich">
            <!--<img class="img-gioithieu" src="images/gioithieu-bg.png"  alt="#">-->
            <div class="row">
                <div class="bg-tn" style="text-align:center; color: #fff; margin-top: 0px;">
                    <div class="sec-title">
                    </div>
                    <p class="mo-ta-tin">Bằng cách nhấp vào "Đăng Ký Ngay" Quý khách đồng ý với điều khoản của ngân hàng EPTI. -> bỏ phần bôi vàng thay bằng: Tổng công ty cổ phần Bảo hiểm Bưu điện – PTI.</p>
                    <p class="mo-ta-tin">Bỏ Công ty đầu tiên cho ra mắt sản phẩm bệnh hiểm nghèo với 14 bệnh nan y (bao gồm cả Ung Thư Suy Thận; Liệt Các Chi; Đột Quỵ và Ngồi Máu Cơ Tim - > thay bằng: Nhà cung cấp dịch vụ bảo hiểm xe cơ giới hàng đầu tại Việt Nam. Có cơ sở hạ tầng công nghệ thông tin số 1 với những tiện ích vượt trội: tính phí nhanh chóng, chuẩn xác, nhiều ưu đãi khi thanh toán trực tuyến, hỗ trợ mọi hình thức thanh toán online…</p>
                    <p><a href="#top"><button type="submit" value="Register Now" class="btn submit sub-form" name="submit" style=" background: #ffc900; margin: 15px auto; border-radius: 5px; width: 230px; box-shadow: 0 3px 0 #d37f00;">Nhận tư vấn ngay</button></a></p>
                    <div class="clr"></div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-5ths col-xs-6">
                    <div class="content tinhnang">
                        <img alt="" src="{{url_for('static', filename='images/icon1.png')}}">
                        <h4>Chủ xe có thể lựa chọn cơ sở sửa chữa chính hãng thuận tiện trong hệ thống 484 gara liên kết trên toàn quốc</h4>
                    </div>
                </div>
                <div class="col-md-5ths col-xs-6">
                    <div class="content tinhnang" >
                        <img alt="" src="{{url_for('static', filename='images/icon2.png')}}">
                        <h4>PTI trực tiếp bảo lãnh thanh toán trong quá trình sửa chữa</h4>
                    </div>
                </div>
                <div class="col-md-5ths col-xs-6">
                    <div class="content tinhnang">
                        <img alt="" src="{{url_for('static', filename='images/icon3.png')}}">
                        <h4> Giám định tại chỗ theo yêu cầu của chủ xe</h4>
                    </div>
                </div>
                <div class="col-md-5ths col-xs-6">
                    <div class="content tinhnang">
                        <img alt="" src="{{url_for('static', filename='images/icon4.png')}}">
                        <h4> Mức phí tối ưu cạnh tranh trên thị trường</h4>
                    </div>
                </div>
                <div class="col-md-5ths col-xs-6">
                    <div class="content tinhnang">
                        <img alt="" src="{{url_for('static', filename='images/icon3.png')}}">
                        <h4>Top 3 nhà cung cấp dịch vụ bảo hiểm xe cơ giới trên thị trường</h4>
                    </div>
                </div>
            </div>

            <img class="img-gioithieu" src="{{url_for('static', filename='images/t-bg.png')}}"  alt="#" >
            <div class="row" style="margin-top:0px;">
                <div class="col-md-12">
                     <div class="sec-title has-bg" id="target_quyen_loi">
                        <h3>Quyền lợi</h3>
                    </div>
                    <p style="font-size:20px;">PTI thay mặt chủ xe thanh toán các khoản chi phí liên quan thuộc phạm vi bảo hiểm khi tổn thất xẩy ra, cụ thể:</p>
                    <h4><strong>Quyền lợi cơ bản</strong></h4>
                    <p>
                    &nbsp&nbsp&nbsp&nbsp<strong>+</strong>&nbsp&nbspĐâm, va, lật, đổ.
                    <br>&nbsp&nbsp&nbsp&nbsp<strong>+</strong>&nbsp&nbspHoả hoạn, cháy, nổ.
                    <br>&nbsp&nbsp&nbsp&nbsp<strong>+</strong>&nbsp&nbspNhững tai nạn bất khả kháng do thiên nhiên: Bão, lũ lụt, sét đánh, sụt lở.
                    <br>&nbsp&nbsp&nbsp&nbsp<strong>+</strong>&nbsp&nbspVật thể từ bên ngoài xe tác động lên xe.
                    <br>&nbsp&nbsp&nbsp&nbsp<strong>+</strong>&nbsp&nbspMất cắp, mất cướp toàn bộ xe.
                    <br>&nbsp&nbsp&nbsp&nbsp<strong>+</strong>&nbsp&nbspTai nạn do rủi ro bất ngờ khác gây nên ngoài những điểm loại trừ quy định tại Điều 9 và Điều 15, Quy tắc bảo hiểm tự nguyện xe ô tô.
                    </p>
                    <h4><strong>Ngoài ra PTI còn hỗ trợ những chi phí cần thiết và hợp lý nhằm:</strong></h4>
                    <p>
                    &nbsp&nbsp&nbsp&nbsp<strong>-</strong>&nbsp&nbspNgăn ngừa, hạn chế tổn thất phát sinh thêm;
                    <br>&nbsp&nbsp&nbsp&nbsp<strong>-</strong>&nbsp&nbspChi phí đưa xe thiệt hại tới nơi sửa chữa gần nhất không vượt quá 20.000.000 đồng/vụ chưa bao gồm thuế giá trị gia tăng (trừ trường hợp có thỏa thuận khác bằng văn bản).
                    <br>&nbsp&nbsp&nbsp&nbsp<strong>-</strong>&nbsp&nbspGiám định tổn thất.
                    <br>&nbsp&nbsp&nbsp&nbsp<strong>-</strong>&nbsp&nbspTrong mọi trường hợp tổng số tiền bồi thường của PTI (không bao gồm chi phí giám định tổn thất) không vượt quá số tiền bảo hiểm đã ghi trên Giấy chứng nhận bảo hiểm.
                    </p>
                    <h4><strong>Quyền lợi bổ sung</strong></h4>
                    <p>
                    &nbsp&nbsp&nbsp&nbsp<strong>-</strong>&nbsp&nbspQuyền lợi bổ sung “không trừ khấu hao” khi tổn thất bộ phận (điều khoản mới thay cũ): nếu chủ xe tham gia bảo hiểm vật chất xe và đóng thêm phụ phí bảo hiểm, PTI sẽ trả tiền bồi thường toàn bộ giá trị thực tế của các bộ phận bị hư hỏng cần phải thay thế thuộc phạm vi bảo hiểm mà không trừ phần hao mòn (khấu hao) sử dụng.
                    <br>&nbsp&nbsp&nbsp&nbsp<strong>-</strong>&nbsp&nbspQuyền lợi bổ sung lựa chọn cơ sở sửa chữa: khi xe bị thiệt hại, nếu chủ xe tham gia bảo hiểm vật chất xe và đóng thêm phụ phí bảo hiểm sẽ được lựa chọn cơ sở sửa chữa được uỷ quyền của Hãng sản xuất ra chiếc xe đó trong lãnh thổ nước Cộng hoà xã hội chủ nghĩa Việt Nam. Chi phí cẩu, kéo xe do PTI chi trả tính từ nơi xảy ra tai nạn đến cơ sở sửa chữa gần nhất không vượt quá 20.000.000 đồng/vụ chưa bao gồm thuế giá trị gia tăng.
                    <br>&nbsp&nbsp&nbsp&nbsp<strong>-</strong>&nbsp&nbspQuyền lợi bổ sung bảo hiểm thủy kích: nếu chủ xe tham gia bảo hiểm vật chất xe và đóng thêm phụ phí bảo hiểm, PTI sẽ thanh toán 80% số tiền bồi thường để sửa chữa, khắc phục những thiệt hại của động cơ xe do đi vào vùng ngập nước và/hoặc vì có nước lọt vào trong động cơ gây ra hiện tượng thuỷ kích làm hư hỏng động cơ.
                    <br>&nbsp&nbsp&nbsp&nbsp<strong>-</strong>&nbsp&nbspBảo lãnh thanh toán: Khi đưa xe vào gara sửa chữa, nếu xe nằm trong "Danh sách gara liên kết sửa chữa của PTI", Khách hàng sẽ được PTI bảo lãnh thanh toán chi phí sửa chữa thuộc trách nhiệm của PTI. Trái lại, Khách hàng phải tự thanh toán trước chi phí sửa chữa, sau đó hoàn thiện hồ sơ để PTI chi trả bồi thường sau.
                    <br>&nbsp&nbsp&nbsp&nbsp<strong>-</strong>&nbsp&nbspGiám định tại địa điểm theo yêu cầu của khách hàng: Khi nhận yêu cầu giám định của khách hàng, PTI sẽ có mặt tại địa điểm theo yêu cầu để tiến hành giám định
                    <br>&nbsp&nbsp&nbsp&nbsp<strong>-</strong>&nbsp&nbspQuyền lợi bổ sung cứu hộ xe bị sự cố kỹ thuật miễn phí: nếu chủ xe tham gia bảo hiểm vật chất xe (Xe ôtô chở người đến ≤ 24 chỗ) gặp sự cố kỹ thuật trên phạm vi 100km tính từ bưu điện trung tâm tại thành phố Hà Nội, thành phố Đà Nẵng, thành phố Hồ Chí Minh và nội thành thành phố Hải Phòng sẽ được cẩu kéo miễn phí tới cơ sở sửa chữa gần nhất</p>

            </div>
        </div>


            <img class="img-gioithieu" src="{{url_for('static', filename='images/t-bg.png')}}"  alt="#">

            <div class="row" style="margin-top:0px;">
                <div class="col-md-8">
                    <div class="sec-title has-bg" id="target_bao_hiem">
                        <h3>Phí bảo hiểm</h3>
                    </div>
                    <p>
                        <strong>+ Phí bảo hiểm cơ bản:</strong> căn cứ vào giá trị thực tế của xe tại thời điểm tham gia bảo hiểm.
    <br><strong>+ Phí bảo hiểm bổ sung:</strong> phụ thuộc vào các hạng mục bổ sung mà người tham gia bảo hiểm mong muốn. 14 hạng mục bổ sung của bao hiểm ô tô toàn diện bao gồm: không trừ khấu hao, lựa chọn cơ sở sửa chữa chính hãng, Bảo hiểm thiệt hại động cơ do hiện tượng thủy, mất cắp bộ phận, Bảo hiểm tăng mức miễn thường, Bảo hiểm vật chất xe ô tô lưu hành tạm thời.......
    <br>
    <br>Phí bảo hiểm = Số tiền bảo hiểm x Tỷ lệ phí
    Tỷ lệ phí = Tỷ lệ phí cơ bản + Tỉ lệ phí lựa chọn bổ sung (lựa chọn gara sửa chữa, bảo hiểm thủy kích, ...)

                    </p>
               </div>
               <div class="col-md-4" style="margin-top:20px;">
                    <img src="{{url_for('static', filename='images/phi-bao-hiem.png')}}" alt="">
               </div>
            </div>
            <img class="img-gioithieu" src="{{url_for('static', filename='images/t-bg.png')}}"  alt="#">


            <div class="row" style="margin-top:0px;">
                <div class="col-md-12">
                     <div class="sec-title has-bg" id="target_thong_tin">
                        <h3>Thông tin cần biết</h3>
                    </div>
                    <p style="font-size:20px;">Khi phát sinh tai nạn, Quý khách vui lòng thông báo ngay cho PTI qua số tổng đài dịch vụ khách hàng 24/7: 1900 545475.</p>
                    <h4><strong>Hồ sơ bồi thường bao gồm các giấy tờ sau:</strong></h4>
                    <p>
                        &nbsp&nbsp&nbsp&nbsp<strong>-</strong>&nbsp&nbspThông báo tai nạn và yêu cầu bồi thường
<br>&nbsp&nbsp&nbsp&nbsp<strong>-</strong>&nbsp&nbspBản sao các giấy tờ sau (có xác nhận của cơ quan có thẩm quyền hoặc của nhân viên PTI): Giấy chứng nhận bảo hiểm; Giấy phép Lái xe; Đăng ký xe hoặc hóa đơn mua xe đối với trường hợp xe mới chưa đăng ký; Giấy chứng nhận kiểm định an toàn kỹ thuật và bảo vệ môi trường phương tiện giao thông cơ giới đường bộ.
<br>&nbsp&nbsp&nbsp&nbsp<strong>-</strong>&nbsp&nbspBản kết luận điều tra tai nạn của cơ quan Công an và/hoặc bản sao bộ hồ sơ tai nạn (có xác nhận của cơ quan Công an thụ lý tai nạn) bao gồm: Sơ đồ hiện trường tai nạn giao thông; Biên bản khám nghiệm hiện trường; Biên bản khám nghiệm xe liên quan đến tai nạn; Biên bản giải quyết tai nạn giao thông…
<br>&nbsp&nbsp&nbsp&nbsp<strong>-</strong>&nbsp&nbspBản án hoặc Quyết định của Toà án (nếu có).
<br>&nbsp&nbsp&nbsp&nbsp<strong>-</strong>&nbsp&nbspTrường hợp tổn thất do Người thứ ba gây ra: Biên bản xác định mức độ thiệt hại về người và tài sản, mức độ lỗi của các bên; Tài liệu minh chứng chủ xe bảo lưu quyền cho PTI đòi Người thứ ba; Giấy chuyển quyền đòi Người thứ ba của chủ xe.
<br>&nbsp&nbsp&nbsp&nbsp<strong>-</strong>&nbsp&nbspBiên bản giám định thiệt hại, ảnh chụp thiệt hại.
<br>&nbsp&nbsp&nbsp&nbsp<strong>-</strong>&nbsp&nbspCác chứng từ xác định thiệt hại do tai nạn: các chứng từ, hóa đơn liên quan đến việc sửa chữa, thay thế hoặc mua mới. Biên bản mất cắp, mất cướp hoặc mất tích xe có xác nhận của cơ quan có thẩm quyền (trong trường hợp xe bị mất, bị cướp)
                    </p>
                </div>
            </div>


            <img class="img-gioithieu" src="{{url_for('static', filename='images/t-bg.png')}}"  alt="#">
            <div id="target_cau_hoi_thuong_gap">
                        <div class="sec-title">
                            <h3> Câu hỏi thường gặp</h3>
                        </div>

                    <div class="">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Khi xảy ra sự cố tôi phải làm gì?</h3>
                                <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
                            </div>
                            <div class="panel-body" style="display: none;">Bạn cần cố gắng giữ nguyên hiện trường và báo ngay hotline 1900 545475, PTI tới giám định, xử lý giúp bạn trong vòng 30 phút. PTI là đơn vị bảo hiểm duy nhất tại Việt Nam có hệ thống call center trực 24/7.</div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Xe tôi mới mua và muốn được vào chính hãng để sửa chữa? PTI có hỗ trợ?</h3>
                                <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
                            </div>
                            <div class="panel-body" style="display: none;">Quý khách hàng sử dụng xe trong 5 năm đầu tiên sẽ được toàn quỳên lựa chọn xưởng chính hãng. Anh chị liên hệ tư vấn viên vào số 0473005678 để được hỗ trợ thêm</div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Khi thay thế phụ tùng tôi có được thay mới?</h3>
                                <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
                            </div>
                            <div class="panel-body" style="display: none;">Đối với những tổn thất trên 75%, PTI sẽ thay mới  bộ phận không tính hao mòn.</div>
                        </div>
                    </div>
                </div>

            <footer class="main-wrapper footer">
                <div class="container bottom">
                    <div class="fl copyright">
                        <p><strong>Tổng Công ty Cổ phần Bảo hiểm Bưu điện - PTI</strong></p>
                        <p>Tầng 8 toà nhà Harec – 4A Láng Hạ, Ba Đình, Hà Nội</p>
                        <p>Website: <a href="https://www.epti.vn">www.epti.vn – www.pti.com.vn</a></p>
                        <p>Fanpage: <a href="www.facebook.com/Bao.Hiem.Truc.Tuyen.PTI">www.facebook.com/Bao.Hiem.Truc.Tuyen.PTI</a></p>
                        <p>Youtube: <a href="www.youtube.com/channel/UCn6RoUGGaZFevhoFnEMoRCg">www.youtube.com/channel/UCn6RoUGGaZFevhoFnEMoRCg</a></p>
                        <p><strong>Call Center:</strong> 1900 454575</p>
                        <p><strong>Hotline:</strong> 08 7304 567804 7300 5678</p>
                        <p><strong>Điện thoại:</strong> (+844) 3772 4466</p>
                        <p><strong>Fax:</strong> (+844) 3772 4460</p>
                        <p><strong>Email:</strong> info@pti.com.vn</p>
                        </div>
                    <nav>
                        <ul style="margin:0px;">
                            <li class="firstItem">
                                <a href="javascript:void(0);"><img src="{{url_for('static', filename='images/logo1.png')}}"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><img src="{{url_for('static', filename='images/logo2.png')}}"></a>
                            </li>
                            <li class="lastItem">
                                <a href="javascript:void(0);"><img src="{{url_for('static', filename='images/logo3.png')}}"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- This contains the hidden content for inline calls -->
                <div style='display:none'>
                    <div id='inline_content1' style='padding:10px; background:#fff;'>
                        <h3 style="text-align:center; "><strong>Các bệnh hiểm nghèo được bảo hiểm</strong></h3>
                        <img src="{{url_for('static', filename='images/t-bg.png')}}" alt="#">
                        <p>
                            <br>1 : Nhồi máu cơ tim lần đầu
                            <br>2 : Đột quỵ
                            <br>3 : Ung thư
                            <br>4 : Suy thận
                            <br>5 : Liệt vĩnh viễn các chi
                        </p>
                        <p>
                            Cứ mỗi năm tái tục, Người được bảo hiểm sẽ được bổ sung  một (01) bệnh hiểm nghèo vào Danh sách bệnh hiểm nghèo được bảo hiểm theo. Cụ thể:
                            <br>Năm tái tục thứ 1 : U não lành tính
                            <br>Năm tái tục thứ 2 : Phẫu thuật thông động mạch vành
                            <br>Năm tái tục thứ 3 : Cấy ghép nội tạng
                            <br>Năm tái tục thứ 4 : Đa xơ cứng
                            <br>Năm tái tục thứ 5 : Phẫu thuật ghép động mạch chủ
                            <br>Năm tái tục thứ 6 : Tăng huyết áp động mạch phổi
                            <br>Năm tái tục thứ 7 : Thay thế van tim
                            <br>Năm tái tục thứ 8 : Bệnh Parkinson
                            <br>Năm tái tục thứ 9 : Bệnh gan giai đoạn cuối
                            <br>Chi trả 100% Số tiền bảo hiểm khi không may mắc phải Bệnh hiểm nghèo (theo danh sách như trên) xuất hiện lần đầu theo chẩn đoán của bác sỹ trong thời hạn bảo hiểm
                        </p>
                    </div>
                </div>

                <div style='display:none'>
                    <div id='inline_content2' style='padding:10px; background:#fff;'>
                        <h3 style="text-align:center; "><strong>Số tiền bảo hiểm</strong></h3>
                        <img src="{{url_for('static', filename='images/t-bg.png')}}" alt="#">
                        <p>
                            <br>Lựa chọn 1: 110,000,000 VND/ người/ năm
                            <br>Lựa chọn 2: 220,000,000 VND/ người/ năm
                            <br>Lựa chọn 3: 330,000,000 VND/ người/ năm
                        </p>
                    </div>
                </div>

                <div style='display:none'>
                    <div id='inline_content3' style='padding:10px; background:#fff;'>
                        <h3 style="text-align:center; "><strong>Phạm vi bảo hiểm</strong></h3>
                        <img src="{{url_for('static', filename='images/t-bg.png')}}" alt="#">
                        <br>
                        <p>
                            <br>Trường hợp Người được bảo hiểm mắc phải bệnh hiểm nghèo trong thời hạn bảo hiểm, PTI sẽ chi trả toàn bộ số tiền bảo hiểm được nêu cụ thể trong Hợp đồng với điều kiện sau:
                            <br>a. Bệnh hiểm nghèo xuất hiện lần đầu đối với Người được bảo hiểm theo chẩn đoán của bác sỹ, và
                            <br>b. Người được bảo hiểm còn sống ít nhất 30 ngày kể từ ngày kết luận của bác sỹ.
                            <br>Hợp đồng bảo hiểm sẽ kết thúc sau khi Người được bảo hiểm nhận được số tiền bồi thường và không tái tục cho những năm sau.
                        </p>
                    </div>
                </div>

            </footer>

            <div id="back-top-wrapper" class="visible-lg">
                <p id="back-top" class="bounceIn">
                    <a href="#top">
                        <span></span>
                    </a>
                </p>
            </div>
        </div>
        <script src="{{url_for('static', filename='js/jquery-1.10.1.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/modernizr.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.bxslider.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.customSelect.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.validate.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.colorbox-min.js')}}"></script>
        <script src="{{url_for('static', filename='js/custom.js')}}"></script>
        <script src="{{url_for('static', filename='js/loader.js')}}"></script>

        <script src="{{url_for('static', filename='js/script.js')}}"></script>
        <script src="//cdn.accesstrade.vn/js/tracking.js" ></script>
        <script type="text/javascript">
            AT.track();
            function clearValidity() {
                document.getElementById('yes').setCustomValidity('');
            }

            function onInvalidCustom(idstr) {
                var me = document.getElementById(idstr);
                me.setCustomValidity('Số điện thoại không chính xác');
                //me.setCustomValidity('');
            }

            function getCookie(cname) {
                    var name = cname + "=";
                    var ca = document.cookie.split(';');
                    for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0)==' ') {
                            c = c.substring(1);
                        }
                        if (c.indexOf(name) == 0) {
                            return c.substring(name.length,c.length);
                        }
                    }
                    return "";
            }
                //alert(getCookie("_aff_network") + "|" + getCookie("_aff_sid"))
                $("#aff_source").val(getCookie("_aff_network"));
                $("#aff_sid").val(getCookie("_aff_sid"));
            $(document).ready(function(){
                $('input[name=email]').keyup(function() {
                      this.value = this.value.toLowerCase();
                    });
              });

            $(document).on('click', '.panel-heading span.clickable', function(e){
                var $this = $(this);
                if(!$this.hasClass('panel-collapsed')) {
                    $this.parents('.panel').find('.panel-body').slideUp();
                    $this.addClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                } else {
                    $this.parents('.panel').find('.panel-body').slideDown();
                    $this.removeClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                }
            })

        </script>

        <script>
            $(".inline").colorbox({inline:true, width:"50%"});
        </script>
    </body>

</html>