<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EPTI Insurance - Bảo Hiểm Bưu Điện</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}" rel="shortcut icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <script src="{{url_for('static', filename='js/jquery-1.10.1.min.js')}}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>

        <nav class="navbar navbar-fixed-top navbar-default nav-custom ">
            <div class="container ">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                        <img src="{{url_for('static', filename='images/logo.png')}}"  alt="#">
                    </a>
                    <ul class="nav navbar-nav navbar-right" id="nav-moblie-default">
                        <li id="li_home" ><a href="javascript:void(0)"  >GIỚI THIỆU</a></li>
                    </ul>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav_click active" id="gioi_thieu" >
                            <a href="javascript:void(0)" >GIỚI THIỆU</a>
                        </li>
                        <li class="nav_click" id="loi_ich" >
                            <a href="javascript:void(0)"  >LỢI ÍCH VỢT TRỘI</a>
                        </li>
                        <li class="nav_click" id="quyen_loi" >
                            <a href="javascript:void(0)" >QUYỀN LỢI</a>
                        </li>
                        <li class="nav_click" id="bao_hiem">
                            <a href="javascript:void(0)"   >PHÍ BÀO HIỂM</a>
                        </li>
                        <li class="nav_click" id="thong_tin">
                            <a href="javascript:void(0)"   >THÔNG TIN CẦN BIẾT</a>
                        </li>
                        <li class="nav_click" id="cau_hoi_thuong_gap">
                            <a href="javascript:void(0)"   >CÂU HỎI THƯỜNG GẶP</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="banner" id="target_gioi_thieu">
            <div class="container">
                <div>
                    <div  class=" bao-hiem col-md-5">
                        <h2 class="h-Bold">BẢO HIỂM TOÀN DIỆN OTÔ</h2>
                        <p class="desc">Nhà cung cấp dịch vụ bảo hiểm xe cơ giới hàng đầu tại Việt Nam. Có cơ sở hạ tầng công nghệ thông tin số 1 với những tiện ích vượt trội: tính phí nhanh chóng, chuẩn xác, nhiều ưu đãi khi thanh toán trực tuyến, hỗ trợ mọi hình thức thanh toán online…</p>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="reg-now col-md-4">
                         <form class='reg-now-visible' id='formIndex' action="/" method="post" accept-charset="utf-8" role="form">
                            {{ form.hidden_tag() }}
                             {% for field in form if field.widget.input_type != 'hidden' %}
                                {% if field.errors %}
                                    <div class="loading alert" style="color: red;"><a class="close" data-dismiss="alert">×</a>
                                    {%for error in field.errors%}
                                            {{error}}</br>
                                        {%endfor%}
                                    </div>
                              {%endif%}
                            {%endfor%}
                            <div class="clr"></div>
                             <div class='control-group'>
                                <input type="text" name="name" {%if form.data.name%} value="{{form.data.name|safe}}" {%endif%} placeholder='Họ và tên' required oninvalid="setCustomValidity('Họ và tên là bắt buộc')" oninput="setCustomValidity('')"/>
                            </div>
                            <div class='control-group'>
                                <input type="text" id="phone" name="phone" {%if form.data.phone %} value="{{form.data.phone|safe}}" {%else%} value="" {%endif%} placeholder='Số điện thoại' required pattern="^[0-9]{10,12}$" oninvalid="setCustomValidity('Số điện thoại không chính xác')" oninput="setCustomValidity('')"/>
                            </div>

                            <div class="relative">
                                 <input type="text" name="car_type" {%if form.data.car_type%} value="{{form.data.car_type|safe}}" {%else%} value="" {%endif%} placeholder='Loại Xe' required oninvalid="setCustomValidity('Loại Xe là bắt buộc')" oninput="setCustomValidity('')"/>
                            </div>
                            <div class="relative">
                                 <input type="text" name="year_make" {%if form.data.year_make%} value="{{form.data.year_make|safe}}" {%else%} value="" {%endif%} placeholder='Năm sản xuất'/>

                            </div>

                            <div class='control-group'>
                                <input type="text" name="code_promotion" {%if form.data.code_promotion%} value="{{form.data.code_promotion|safe}}" {%else%} value="" {%endif%} placeholder='Mã xác thực'/>
                            </div>
                            <p>
                                  {%if form.toidongy.data%}
                                <input type="checkbox" id="toidongy" name="toidongy" required oninvalid="setCustomValidity('Bạn phải đồng ý với điều khoản này')" onchange="setCustomValidity('')" checked/>
                                {%else%}
                                <input type="checkbox" id="toidongy1" name="toidongy" required oninvalid="setCustomValidity('Bạn phải đồng ý với điều khoản này')" onchange="setCustomValidity('')"/>
                                {%endif%}
                                Bằng cách nhấp vào "Đăng Ký Ngay" Quý khách đồng ý với điều khoản của Tổng công ty cổ phần Bảo hiểm Bưu điện – PTI.</p>
                            <button type="submit" value="Register Now" class='btn submit sub-form' name="submit">Đăng ký ngay</button>
                        </form>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
        <!--<img class="img-banner" src="images/slider.png"  alt="#">-->

        <div class="container" >
            <div class="row" id="target_loi_ich">
                <div class="col-md-5ths col-xs-6">
                    <div class="content tinhnang">
                        <img alt="" src="{{url_for('static', filename='images/icon1.png')}}">
                        <h4>Chủ xe có thể lựa chọn cơ sở sửa chữa chính hãng thuận tiện trong hệ thống 484 gara liên kết trên toàn quốc</h4>
                    </div>
                </div>
                <div class="col-md-5ths col-xs-6">
                    <div class="content tinhnang" >
                        <img alt="" src="{{url_for('static', filename='images/icon2.png')}}">
                        <h4>PTI trực tiếp bảo lãnh thanh toán trong quá trình sửa chữa</h4>
                    </div>
                </div>
                <div class="col-md-5ths col-xs-6">
                    <div class="content tinhnang">
                        <img alt="" src="{{url_for('static', filename='images/icon3.png')}}">
                        <h4> Giám định tại chỗ theo yêu cầu của chủ xe</h4>
                    </div>
                </div>
                <div class="col-md-5ths col-xs-6">
                    <div class="content tinhnang">
                        <img alt="" src="{{url_for('static', filename='images/icon4.png')}}">
                        <h4> Mức phí tối ưu cạnh tranh trên thị trường</h4>
                    </div>
                </div>
                <div class="col-md-5ths col-xs-6">
                    <div class="content tinhnang">
                        <img alt="" src="{{url_for('static', filename='images/icon4a.png')}}">
                        <h4>Top 3 nhà cung cấp dịch vụ bảo hiểm xe cơ giới trên thị trường</h4>
                    </div>
                </div>
            </div>

            <img class="img-gioithieu" src="{{url_for('static', filename='images/t-bg.png')}}"  alt="#" >
            <div class="sec-title has-bg" id="target_quyen_loi">
                <h3>PTI thay mặt chủ xe thanh toán các khoản chi phí liên quan thuộc phạm vi bảo hiểm khi tổn thất xẩy ra, cụ thể</h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="tienich-info">
                        <img class="img-quyenloi"  src="{{url_for('static', filename='images/img1.png')}}" alt="">
                        <div class="overlay">
                            <div class="box-holder">
                                <a class="box inline" href="#inline_content1">
                                    <img  src="{{url_for('static', filename='images/click.png')}}">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="t-title text-center">
                        <a class="inline" href="#inline_content1">QUYỀN LỢI CƠ BẢN</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="tienich-info">
                        <img class="img-quyenloi"  src="{{url_for('static', filename='images/img2.png')}}" alt="">
                        <div class="overlay">
                            <div class="box-holder">
                                <a class="box inline" href="#inline_content2">
                                    <img src="{{url_for('static', filename='images/click.png')}}">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="t-title text-center">
                        <a class="inline" href="#inline_content2">HỖ TRỢ NHỮNG CHI PHÍ CẦN THIẾT VÀ HỢP LÝ</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="tienich-info">
                        <img class="img-quyenloi"  src="{{url_for('static', filename='images/img3.png')}}" alt="">
                        <div class="overlay">
                            <div class="box-holder">
                                <a class="box inline" href="#inline_content3">
                                    <img src="{{url_for('static', filename='images/click.png')}}">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="t-title text-center">
                        <a class="inline" href="#inline_content3">QUYỀN LỢI BỔ SUNG</a>
                    </div>
                </div>

            </div>

            <img class="img-gioithieu" src="{{url_for('static', filename='images/t-bg.png')}}"  alt="#">

            <div class="row" style="margin-top:0px;">
                <div class="col-md-8">
                    <div class="sec-title has-bg" id="target_bao_hiem">
                        <h3>Phí bảo hiểm</h3>
                    </div>
                    <p>
                        <strong>+ Phí bảo hiểm cơ bản:</strong> căn cứ vào giá trị thực tế của xe tại thời điểm tham gia bảo hiểm.
    <br><strong>+ Phí bảo hiểm bổ sung:</strong> phụ thuộc vào các hạng mục bổ sung mà người tham gia bảo hiểm mong muốn. 14 hạng mục bổ sung của bao hiểm ô tô toàn diện bao gồm: không trừ khấu hao, lựa chọn cơ sở sửa chữa chính hãng, Bảo hiểm thiệt hại động cơ do hiện tượng thủy, mất cắp bộ phận, Bảo hiểm tăng mức miễn thường, Bảo hiểm vật chất xe ô tô lưu hành tạm thời.......
    <br>
    <br>Phí bảo hiểm = Số tiền bảo hiểm x Tỷ lệ phí
    Tỷ lệ phí = Tỷ lệ phí cơ bản + Tỉ lệ phí lựa chọn bổ sung (lựa chọn gara sửa chữa, bảo hiểm thủy kích, ...)

                    </p>
               </div>
               <div class="col-md-4" style="margin-top:20px;">
                    <img src="{{url_for('static', filename='images/phi-bao-hiem.png')}}" alt="">
               </div>
            </div>
            <img class="img-gioithieu" src="{{url_for('static', filename='images/t-bg.png')}}"  alt="#">


            <div class="row" style="margin-top:0px;">
                <div class="col-md-12">
                     <div class="sec-title has-bg" id="target_thong_tin">
                        <h3>Khi phát sinh tai nạn, Quý khách vui lòng thông báo ngay cho PTI qua số tổng đài dịch vụ khách hàng 24/7: 1900 545475.</h3>
                    </div>
                <h4><a href="https://www.epti.vn/bao-hiem-o-to/vip-autocare-bao-hiem-toan-dien-o-to-i1.htm#tabs-3" target="_blank">Hồ sơ bồi thường bao gồm các giấy tờ sau:</a></h4>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="4" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="5" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="6" class=""></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <a href="https://www.epti.vn/bao-hiem-o-to/vip-autocare-bao-hiem-toan-dien-o-to-i1.htm#tabs-3" target="_blank">
                        <img src="{{url_for('static', filename='images/slide/1.jpg')}}" alt="Chania">
                        </a>
                        <div class="carousel-caption">
                            <p>Thông báo tai nạn và yêu cầu bồi thường</p>
                        </div>
                    </div>

                    <div class="item">
                        <a href="https://www.epti.vn/bao-hiem-o-to/vip-autocare-bao-hiem-toan-dien-o-to-i1.htm#tabs-3" target="_blank">
                        <img src="{{url_for('static', filename='images/slide/2.jpg')}}" alt="">
                        </a>
                        <div class="carousel-caption">
                            <p>Bản sao các giấy tờ...<a class="box inline" href="#slide_detail1" style="color:#ffffff;"><strong>chi tiết</strong></a></p>
                        </div>
                    </div>

                    <div class="item">
                        <a href="https://www.epti.vn/bao-hiem-o-to/vip-autocare-bao-hiem-toan-dien-o-to-i1.htm#tabs-3" target="_blank">
                        <img src="{{url_for('static', filename='images/slide/10.jpg')}}" alt="">
                        </a>
                        <div class="carousel-caption">
                            <p>Bản kết luận điều tra...<a class="box inline" href="#slide_detail2" style="color:#ffffff;"><strong>chi tiết</strong></a></p>
                        </div>
                    </div>

                     <div class="item">
                        <a href="https://www.epti.vn/bao-hiem-o-to/vip-autocare-bao-hiem-toan-dien-o-to-i1.htm#tabs-3" target="_blank">
                        <img src="{{url_for('static', filename='images/slide/4.jpg')}}" alt="">
                        </a>
                        <div class="carousel-caption">
                            <p>Bản án hoặc Quyết định của Toà án (nếu có).</p>
                        </div>
                    </div>

                    <div class="item">
                        <a href="https://www.epti.vn/bao-hiem-o-to/vip-autocare-bao-hiem-toan-dien-o-to-i1.htm#tabs-3" target="_blank">
                        <img src="{{url_for('static', filename='images/slide/5.jpg')}}" alt="">
                        </a>
                        <div class="carousel-caption">
                            <p>Trường hợp tổn thất do...<a class="box inline" href="#slide_detail3" style="color:#ffffff;"><strong>chi tiết</strong></a>
                            </p>
                        </div>
                    </div>

                     <div class="item">
                         <a href="https://www.epti.vn/bao-hiem-o-to/vip-autocare-bao-hiem-toan-dien-o-to-i1.htm#tabs-3" target="_blank">
                        <img src="{{url_for('static', filename='images/slide/6.jpg')}}" alt="">
                        </a>
                        <div class="carousel-caption">
                            <p>Biên bản giám định thiệt hại, ảnh chụp thiệt hại.</p>
                        </div>
                    </div>

                    <div class="item">
                        <a href="https://www.epti.vn/bao-hiem-o-to/vip-autocare-bao-hiem-toan-dien-o-to-i1.htm#tabs-3" target="_blank">
                        <img src="{{url_for('static', filename='images/slide/7.jpg')}}" alt="">
                        </a>
                        <div class="carousel-caption">
                            <p>Các chứng từ xác định thiệt...<a class="box inline" href="#slide_detail4" style="color:#ffffff;"><strong>chi tiết</strong></a></p>
                        </div>
                    </div>

                </div>
            </div>

                </div>
            </div>


            <img class="img-gioithieu" src="{{url_for('static', filename='images/t-bg.png')}}"  alt="#">
            <div id="target_cau_hoi_thuong_gap">
                        <div class="sec-title">
                            <h3> Câu hỏi thường gặp</h3>
                        </div>

                    <div class="">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Khi xảy ra sự cố tôi phải làm gì?</h3>
                                <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
                            </div>
                            <div class="panel-body" style="display: none;">Bạn cần cố gắng giữ nguyên hiện trường và báo ngay hotline 1900 545475, PTI tới giám định, xử lý giúp bạn trong vòng 30 phút. PTI là đơn vị bảo hiểm duy nhất tại Việt Nam có hệ thống call center trực 24/7.</div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Xe tôi mới mua và muốn được vào chính hãng để sửa chữa? PTI có hỗ trợ?</h3>
                                <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
                            </div>
                            <div class="panel-body" style="display: none;">Quý khách hàng sử dụng xe trong 5 năm đầu tiên sẽ được toàn quỳên lựa chọn xưởng chính hãng. Anh chị liên hệ tư vấn viên vào số 0473005678 để được hỗ trợ thêm</div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Khi thay thế phụ tùng tôi có được thay mới?</h3>
                                <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
                            </div>
                            <div class="panel-body" style="display: none;">Đối với những tổn thất trên 75%, PTI sẽ thay mới  bộ phận không tính hao mòn.</div>
                        </div>
                    </div>
                </div>

            <footer class="main-wrapper footer">
                <div class="container bottom">
                    <div class="fl copyright">
                        <p><strong>Tổng Công ty Cổ phần Bảo hiểm Bưu điện - PTI</strong></p>
                        <p>Tầng 8 toà nhà Harec – 4A Láng Hạ, Ba Đình, Hà Nội</p>
                        <p>Website: <a href="https://www.epti.vn">www.epti.vn – www.pti.com.vn</a></p>
                        <p>Fanpage: <a href="www.facebook.com/Bao.Hiem.Truc.Tuyen.PTI">www.facebook.com/PTI</a></p>
                        <p>Youtube: <a href="www.youtube.com/channel/UCn6RoUGGaZFevhoFnEMoRCg">www.youtube.com/PTI</a></p>
                        <p><strong>Call Center:</strong> 1900 454575</p>
                        <p><strong>Hotline:</strong> 08 7304 567804 7300 5678</p>
                        <p><strong>Điện thoại:</strong> (+844) 3772 4466</p>
                        <p><strong>Fax:</strong> (+844) 3772 4460</p>
                        <p><strong>Email:</strong> info@pti.com.vn</p>
                        </div>
                    <nav>
                        <ul style="margin:0px;">
                            <li class="firstItem">
                                <a href="javascript:void(0);"><img src="{{url_for('static', filename='images/logo1.png')}}"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><img src="{{url_for('static', filename='images/logo2.png')}}"></a>
                            </li>
                            <li class="lastItem">
                                <a href="javascript:void(0);"><img src="{{url_for('static', filename='images/logo3.png')}}"></a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div style='display:none'>
                    <div id='slide_detail1' style='padding:10px; background:#fff;'>
                        <h3 style="text-align:center; "><strong>Bản sao các giấy tờ...</strong></h3>
                        <img src="{{url_for('static', filename='images/t-bg.png')}}" alt="#" style="width:100%;">
                        <p>
Bản sao các giấy tờ sau (có xác nhận của cơ quan có thẩm quyền hoặc của nhân viên PTI): Giấy chứng nhận bảo hiểm; Giấy phép Lái xe; Đăng ký xe hoặc hóa đơn mua xe đối với trường hợp xe mới chưa đăng ký; Giấy chứng nhận kiểm định an toàn kỹ thuật và bảo vệ môi trường phương tiện giao thông cơ giới đường bộ.
                        </p>
                    </div>
                </div>

                <div style='display:none'>
                    <div id='slide_detail2' style='padding:10px; background:#fff;'>
                        <h3 style="text-align:center; "><strong>Bản kết luận điều tra...</strong></h3>
                        <img src="{{url_for('static', filename='images/t-bg.png')}}" alt="#" style="width:100%;">
                        <p>
Bản kết luận điều tra tai nạn của cơ quan Công an và/hoặc bản sao bộ hồ sơ tai nạn (có xác nhận của cơ quan Công an thụ lý tai nạn) bao gồm: Sơ đồ hiện trường tai nạn giao thông; Biên bản khám nghiệm hiện trường; Biên bản khám nghiệm xe liên quan đến tai nạn; Biên bản giải quyết tai nạn giao thông…
Bản án hoặc Quyết định của Toà án (nếu có).
                        </p>
                    </div>
                </div>

                <div style='display:none'>
                    <div id='slide_detail3' style='padding:10px; background:#fff;'>
                        <h3 style="text-align:center; "><strong>Trường hợp tổn thất do...</strong></h3>
                        <img src="{{url_for('static', filename='images/t-bg.png')}}" alt="#" style="width:100%;">
                        <p>
Trường hợp tổn thất do Người thứ ba gây ra: Biên bản xác định mức độ thiệt hại về người và tài sản, mức độ lỗi của các bên; Tài liệu minh chứng chủ xe bảo lưu quyền cho PTI đòi Người thứ ba; Giấy chuyển quyền đòi Người thứ ba của chủ xe.
                        </p>
                    </div>
                </div>

               <div style='display:none'>
                    <div id='slide_detail4' style='padding:10px; background:#fff;'>
                        <h3 style="text-align:center; "><strong>Các chứng từ xác định thiệt...</strong></h3>
                        <img src="{{url_for('static', filename='images/t-bg.png')}}" alt="#" style="width:100%;">
                        <p>
Các chứng từ xác định thiệt hại do tai nạn: các chứng từ, hóa đơn liên quan đến việc sửa chữa, thay thế hoặc mua mới. Biên bản mất cắp, mất cướp hoặc mất tích xe có xác nhận của cơ quan có thẩm quyền (trong trường hợp xe bị mất, bị cướp)
                        </p>
                    </div>
                </div>

                <!-- This contains the hidden content for inline calls -->
                <div style='display:none'>
                    <div id='inline_content1' style='padding:10px; background:#fff;'>
                        <h3 style="text-align:center; "><strong>Quyền lợi cơ bản</strong></h3>
                        <img src="{{url_for('static', filename='images/t-bg.png')}}" alt="#" style="width:100%;">
                        <p>
                            <span class="glyphicon glyphicon-ok"></span>&nbsp&nbsp  Đâm, va, lật, đổ.
                            <br><span class="glyphicon glyphicon-ok"></span>&nbsp&nbsp  Hoả hoạn, cháy, nổ.
                            <br><span class="glyphicon glyphicon-ok"></span>&nbsp&nbsp  Những tai nạn bất khả kháng do thiên nhiên: Bão, lũ lụt, sét đánh, sụt lở.
                            <br><span class="glyphicon glyphicon-ok"></span>&nbsp&nbsp  Vật thể từ bên ngoài xe tác động lên xe.
                            <br><span class="glyphicon glyphicon-ok"></span>&nbsp&nbsp  Mất cắp, mất cướp toàn bộ xe.
                            <br><span class="glyphicon glyphicon-ok"></span>&nbsp&nbsp  Tai nạn do rủi ro bất ngờ khác gây nên ngoài những điểm loại trừ quy định tại Điều 9 và Điều 15, Quy tắc bảo hiểm tự nguyện xe ô tô.
                        </p>
                    </div>
                </div>

                <div style='display:none'>
                    <div id='inline_content2' style='padding:10px; background:#fff;'>
                        <h3 style="text-align:center; "><strong>Ngoài ra PTI còn hỗ trợ những chi phí cần thiết và hợp lý nhằm</strong></h3>
                        <img src="{{url_for('static', filename='images/t-bg.png')}}" alt="#" style="width:100%;">
                        <p>
                            <span class="glyphicon glyphicon-ok"></span>&nbsp&nbsp  Ngăn ngừa, hạn chế tổn thất phát sinh thêm;
                            <br><span class="glyphicon glyphicon-ok"></span>&nbsp&nbsp  Chi phí đưa xe thiệt hại tới nơi sửa chữa gần nhất không vượt quá 20.000.000 đồng/vụ chưa bao gồm thuế giá trị gia tăng (trừ trường hợp có thỏa thuận khác bằng văn bản).
                            <br><span class="glyphicon glyphicon-ok"></span> &nbsp&nbsp Giám định tổn thất.
                            <br><span class="glyphicon glyphicon-ok"></span>&nbsp&nbsp  Trong mọi trường hợp tổng số tiền bồi thường của PTI (không bao gồm chi phí giám định tổn thất) không vượt quá số tiền bảo hiểm đã ghi trên Giấy chứng nhận bảo hiểm.
                        </p>
                    </div>
                </div>

                <div style='display:none'>
                    <div id='inline_content3' style='padding:10px; background:#fff;'>
                        <h3 style="text-align:center; "><strong>Quyền lợi bổ sung</strong></h3>
                        <img src="{{url_for('static', filename='images/t-bg.png')}}" alt="#" style="width:100%;">
                        <br>
                        <p>
                           <span class="glyphicon glyphicon-ok"></span>&nbsp&nbsp  Quyền lợi bổ sung “không trừ khấu hao” khi tổn thất bộ phận (điều khoản mới thay cũ): nếu chủ xe tham gia bảo hiểm vật chất xe và đóng thêm phụ phí bảo hiểm, PTI sẽ trả tiền bồi thường toàn bộ giá trị thực tế của các bộ phận bị hư hỏng cần phải thay thế thuộc phạm vi bảo hiểm mà không trừ phần hao mòn (khấu hao) sử dụng.
                           <br><span class="glyphicon glyphicon-ok"></span>&nbsp&nbsp  Quyền lợi bổ sung lựa chọn cơ sở sửa chữa: khi xe bị thiệt hại, nếu chủ xe tham gia bảo hiểm vật chất xe và đóng thêm phụ phí bảo hiểm sẽ được lựa chọn cơ sở sửa chữa được uỷ quyền của Hãng sản xuất ra chiếc xe đó trong lãnh thổ nước Cộng hoà xã hội chủ nghĩa Việt Nam. Chi phí cẩu, kéo xe do PTI chi trả tính từ nơi xảy ra tai nạn đến cơ sở sửa chữa gần nhất không vượt quá 20.000.000 đồng/vụ chưa bao gồm thuế giá trị gia tăng.
                            <br><span class="glyphicon glyphicon-ok"></span>&nbsp&nbsp  Quyền lợi bổ sung bảo hiểm thủy kích: nếu chủ xe tham gia bảo hiểm vật chất xe và đóng thêm phụ phí bảo hiểm, PTI sẽ thanh toán 80% số tiền bồi thường để sửa chữa, khắc phục những thiệt hại của động cơ xe do đi vào vùng ngập nước và/hoặc vì có nước lọt vào trong động cơ gây ra hiện tượng thuỷ kích làm hư hỏng động cơ.
                            <br><span class="glyphicon glyphicon-ok"></span>&nbsp&nbsp  Bảo lãnh thanh toán: Khi đưa xe vào gara sửa chữa, nếu xe nằm trong "Danh sách gara liên kết sửa chữa của PTI", Khách hàng sẽ được PTI bảo lãnh thanh toán chi phí sửa chữa thuộc trách nhiệm của PTI. Trái lại, Khách hàng phải tự thanh toán trước chi phí sửa chữa, sau đó hoàn thiện hồ sơ để PTI chi trả bồi thường sau.
                            <br><span class="glyphicon glyphicon-ok"></span>&nbsp&nbsp  Giám định tại địa điểm theo yêu cầu của khách hàng: Khi nhận yêu cầu giám định của khách hàng, PTI sẽ có mặt tại địa điểm theo yêu cầu để tiến hành giám định
                            <br><span class="glyphicon glyphicon-ok"></span>&nbsp&nbsp  Quyền lợi bổ sung cứu hộ xe bị sự cố kỹ thuật miễn phí: nếu chủ xe tham gia bảo hiểm vật chất xe (Xe ôtô chở người đến ≤ 24 chỗ) gặp sự cố kỹ thuật trên phạm vi 100km tính từ bưu điện trung tâm tại thành phố Hà Nội, thành phố Đà Nẵng, thành phố Hồ Chí Minh và nội thành thành phố Hải Phòng sẽ được cẩu kéo miễn phí tới cơ sở sửa chữa gần nhất
                        </p>
                    </div>
                </div>
            </footer>

            <div id="back-top-wrapper" class="visible-lg">
                <p id="back-top" class="bounceIn">
                    <a href="#top">
                        <span></span>
                    </a>
                </p>
            </div>
        </div>
        <script src="{{url_for('static', filename='js/jquery-1.10.1.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/modernizr.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.bxslider.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.customSelect.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.validate.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.colorbox-min.js')}}"></script>
        <script src="{{url_for('static', filename='js/custom.js')}}"></script>
        <script src="{{url_for('static', filename='js/loader.js')}}"></script>

        <script src="{{url_for('static', filename='js/script.js')}}"></script>
        <script src="//cdn.accesstrade.vn/js/tracking.js" ></script>
        <script type="text/javascript">
            AT.track();
            function clearValidity() {
                document.getElementById('yes').setCustomValidity('');
            }

            function onInvalidCustom(idstr) {
                var me = document.getElementById(idstr);
                me.setCustomValidity('Số điện thoại không chính xác');
                //me.setCustomValidity('');
            }

            function getCookie(cname) {
                    var name = cname + "=";
                    var ca = document.cookie.split(';');
                    for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0)==' ') {
                            c = c.substring(1);
                        }
                        if (c.indexOf(name) == 0) {
                            return c.substring(name.length,c.length);
                        }
                    }
                    return "";
            }
                //alert(getCookie("_aff_network") + "|" + getCookie("_aff_sid"))
                $("#aff_source").val(getCookie("_aff_network"));
                $("#aff_sid").val(getCookie("_aff_sid"));
            $(document).ready(function(){
                $('input[name=email]').keyup(function() {
                      this.value = this.value.toLowerCase();
                    });
              });

            $(document).on('click', '.panel-heading span.clickable', function(e){
                var $this = $(this);
                if(!$this.hasClass('panel-collapsed')) {
                    $this.parents('.panel').find('.panel-body').slideUp();
                    $this.addClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                } else {
                    $this.parents('.panel').find('.panel-body').slideDown();
                    $this.removeClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                }
            })

        </script>

        <script>
            $(".inline").colorbox({inline:true, width:"95%"});
        </script>
    </body>

</html>